<h1>Current users</h1>
<table>
  <col width="130">
  <col width="200">
  <col width="130">
  <col width="130">
  <tr>
    <th align="left">User name</th>
    <th align="left">Email</th>
    <th align="left">Created on</th>
    <th align="left">Updated on</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= link_to user.full_name, admin_user_path(user) %></td>
    <td><%= user.email %></td>
    <td><%= formatted_date(user.created_at) %></td>
    <td><%= formatted_date(user.updated_at) %></td>
  </tr>
  <% end %>
</table>
<%= paginate @users %>

