<%= form_tag("/movies", method: "get") do %>
  <div class="form-group">
    <%= label_tag(:term, "Search:") %>
    <%= text_field_tag(:term, nil, :class => "form-control", :placeholder =>"by title or director") %>
  </div>
  <div class="form-group">
  <%= submit_tag("Search", :class => "btn btn-default") %>
  <%= button_tag("Reset", :class => "btn btn-default", type: :reset) %>
  </div>
<% end %>
